.navbar{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: black;
    height: 11vh;
    display: flex;
    align-items: center;
    
}

.logo{
    width: 11.5em;
}

.avatar{
    position: fixed;
    right: 20px;
    border-radius: 5px;
}
