.banner {
    width: 100%;
    height: 86vh;
    background-image: url("banner.jpg");
    background-size: cover;
    background-position: center;
    display: flex;

    /* -webkit-box-shadow: inset 10px -28px 48px 30px rgba(0,0,0,0.89); 
    box-shadow: inset 10px -28px 48px 30px rgba(0,0,0,0.89); */
}

.banner-content {
    width: 40%;
    height: 50vh;
    margin-left: 3.2em;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.banner-title-content {
    width: 70%;
    height: 7vh;
    display: flex;
    align-items: center;
}

.banner-title {
    color: #B3B4BF;
    letter-spacing: 3px;
}

.banner-title-logo {
    width: 2em;
    height: 2em;

}


.banner-heading-content {
    color: white;
    width: 100%;
}

.banner-heading {
    font-size: 3.5em;
    font-weight: 800;
    line-height: 0.9em;

}


.banner-description {
    margin-top: 2em;
    color: #B3B4BF;
    font-family: 'Roboto', sans-serif;

}

.banner-buttons {
    padding: 2.5em;
}

.button{
    margin-left: 4em;
    width: 5.5em;
    height: 2.5em;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    outline: none;
    border: none;
    background-color: rgba(87, 84, 84, 0.5);
}

.button:hover{
    color: black;
    background-color: #e6e6e6;
    cursor: pointer;
}

.fade-bottom{ 
    width: 100%;
    height: 86vh;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,.45),#111);
}